/*Clock Style*/
:root {
  font-family: Elephant, Impact, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  color: rgba(185, 161, 52, 0.87);
  background-color: #b18e9b;
}

#root {
  border: rgb(122, 108, 25), double, 20px;
  border-radius: 100px;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

div {
  background-color: rgb(32, 13, 27);
  padding: 10px;
}